.banner {
  display: flex;
  justify-content: center;
  min-height: 50vh;
  min-width: 100%;
  background-image: linear-gradient(rgba(150,150,150,0.3), rgba(150,150,150,0.3)), url("https://res.cloudinary.com/daf8fgekl/image/upload/v1597908882/gozero_pu9y9b.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  .banner-text {
    align-self: center;
    h1 {
      color: $white;
      font-size: 48px;
      margin: 0;
      text-shadow: 2px 2px rgb(0,0,0.01);
    }
  }
  .banner-btn {
    background: $red;
    border: 1px solid $white;
    border-radius: 8px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .banner-btn a {
    color: $white;
    text-decoration: none;
  }
  .banner-btn:hover {
    background: $light-red;
    color: $red;
    outline:0;
    transition: color, background-color 3s ease-out;
  }
}

