.nav {
  font-family: $font;
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: $light-red;
    color: $white;
    .logo {
      width: 64px;
    }
    .nav-links {
      width: 40%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none;
    }
  }
}

      .nav a {
        color: $white;
        text-decoration: none;
        letter-spacing: 3px;
        text-transform: uppercase;
      }
      nav li:hover {
        text-decoration: none;
        color: $red;
      }



