.tweet {
  min-width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: space-around;
  align-item: center;
  padding: 5%;
  .tweet-img {
  }
  .tweet-text {
    padding: 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
  }
}

