@import "variables.scss";
@import "./components/brakepoints.scss";
@import "./components/nav.scss";
@import "./components/banner.scss";
@import "./components/footer.scss";
@import "./components/home.scss";
@import "./components/about.scss";
@import "./components/recipies.scss";
@import "./components/easyswaps.scss";
@import "./components/contact.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  user-select: none;
  background: $beige;
  font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 1560px;
  min-width: 1560px;
  margin: 0 auto;
  @include media("<=1560px") {
    width: 1280px;
    min-width: 1280px;
  }
  @include media("<=desktop") {
    width: 1080px;
    min-width: 1080px;
  }
  @include media("<=1080px") {
    width: 100%;
    min-width: 100%;
  }
}

.home {
  @include media("<=tablet") {
    .tweet {
      display: flex;
      flex-direction: column;
      .tweet-text {
        width: 80%;
        p {
          font-size: 16px;
          letter-spacing: 1px;
          line-height: 1.2;
        }
      }
      img {
        width: 80%;
        height: 80%;
        margin: auto;
      }
    }
  }
}

.about {
  @include media("<=tablet") {
    display: flex;
    flex-direction: column;
    .about-text {
      padding: 20px 0px;
      p {
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 1.2;
      }
    }
    img {
      width: 80%;
      height: 80%;
      margin: auto;
      padding: 20px 0px;
    }
  }
}
