@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,300;1,400&display=swap');

$font: 'Josefin Sans', sans-serif;
$white: #FFF;
$black: #000;
$red: #8a79af;
$light-red: #d38cad;
$beige: #FFF5DB;
$light-beige: #FFF7E5;
