@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,300;1,400&display=swap');

$font: 'Josefin Sans', sans-serif;
$white: #FFF;
$black: #000;
$red: #6A1051;
$light-red: #DB75C5;
$beige: #FFF5DB;
